.category-tag {
  display: inline-block;
  padding: var(--spacing-1_5) var(--spacing-3);
  background-color: var(--neutral-50);
  border-radius: var(--rounded-full);

  font-size: var(--font-xs);
  line-height: var(--leading-4); /* 133.333% */
}

.summary-content:hover .article-summary__title {
  color: var(--primary-hover);
}

.article-summary__content {
  display: block;
}

.article-summary__title {
  margin-top: 0px;
  margin-bottom: var(--spacing-5);

  color: var(--neutral-900);
  font-size: var(--font-lg);
  font-weight: 600;
  line-height: var(--leading-6); /* 133.333% */
}

.article-summary__text {
  margin-top: var(--spacing-5);
  margin-bottom: 0px;

  color: var(--neutral-600);
  font-size: var(--font-sm);
  font-weight: 400;
  line-height: var(--leading-6); /* 171.429% */
}

.article-summary__footer {
  margin-top: var(--spacing-8);
}
