body {
  font-family: var(--text);
  color: var(--foreground);
  background-color: var(--background);
  font-size: var(--font-base);
  line-height: var(--leading-6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading);
}

code {
  font-family: var(--monospace);
}

hr {
  margin-block: var(--spacing-12);
  border: 1px solid hsl(var(--border));
}

input,
textarea {
  padding: var(--spacing-2) var(--spacing-3);
  background-color: var(--white);

  border: 1px solid var(--neutral-300);
  border-radius: var(--rounded-md);

  font-family: Inter, sans-serif;
  color: var(--foreground);
}

input {
  line-height: var(--leading-5);
}

textarea {
  line-height: var();
}

input::placeholder,
textarea::placeholder {
  color: var(--muted-foreground);
}

input:disabled,
textarea:disabled {
  opacity: 0.5;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--neutral-300);
  outline-offset: var(--space-unit);
}
